body{
  text-align: center;
  background-color: black;
  margin-top: 100px;
}
.panel{
  width: 200px;
  height: 200px;
  display: inline-block;
  cursor: pointer;
}
.panel:hover{
  box-shadow: 0px 0px 10px white;
  box-sizing: border-box;
  background-color: #fff;
}

.bottom-left-panel{
  border-bottom-left-radius: 100%;
  background-color: red;
}

.bottom-right-panel{
  border-bottom-right-radius: 100%;
  background-color: blue;
}

.top-left-panel{
  border-top-left-radius: 100%;
  background-color: green;
}

.top-right-panel{
  border-top-right-radius: 100%;
  background-color: yellow;
}

.active{
  opacity: 20%;

}

.centre{
  display: inline;
  position: absolute;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  top: 200px;
  left: 581px;
}

.play-button{
  margin-top: 50px;
  text-decoration-style: solid;
  font-size: 30px;
  font-style: normal;
  background-color: pink;
}
